In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [29]:
df=pd.read_excel("9fb5c928-2bfb-4215-bc18-f63dc7c0b936.xls")

In [30]:
df

,類型,一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月,合計
0,國家風景區\nNational Scenic Areas,3012501,5245608,3306282,3916082,3961840,3907738,5608960,4442797,3049588,3582984,3678688,3709044,47422112
1,國家公園\nNational Parks,1347825,2414867,2226682,1607091,1537192,1383318,1615617,1379134,756526,1133959,1068473,1054367,17525051
2,公營遊憩區\nGovernment Sites,9474559,14097420,8943161,10745275,9383275,9128599,10964596,10861886,8324552,10934646,9229012,9937675,122024656
3,直轄市級及縣(市)級風景特定區 \nMunicipal-level and County-l...,908716,1342044,943177,884465,951162,910094,1373931,1371906,711885,859706,795865,994286,12047237
4,森林遊樂區\nForest Recreation Areas,442965,539213,523447,563865,504982,480028,657295,539443,323733,433196,507969,574496,6090632
5,海水浴場\nSwimming Beaches,31031,41583,40171,45336,152975,158906,607550,68910,49288,35291,20830,25163,1277034
6,民營遊憩區\nPrivate Sites,1041998,1807778,1161400,1587956,1200793,1224026,1948961,1703025,1118039,1350428,1271430,1297375,16713209
7,寺廟\nTemples,1943995,7437075,4099588,2491269,2274475,1907483,2054881,1567738,1817851,2031299,2151232,2084629,31861515
8,古蹟、歷史建物\nHistoric Sites,995434,1338929,881602,920300,820094,744088,689462,840311,709326,846748,848921,940666,10575881
9,其他\nOthers,1745984,4339266,1994478,2261697,2459019,1821984,1600163,1613925,1226737,1311713,1438404,1622348,23435718
10,重複遊憩區遊客數\nTotal Excluding Duplicate Counting,509681,890593,704919,714032,716935,672154,1370428,717001,406116,544463,523025,548423,8317770
11,總計\nTotal,20435327,37713190,23415069,24309304,22528872,20994110,25750988,23672074,17681409,21975507,20487799,21691626,280655275

In [31]:
df.insert(4,'春季',(df.一月+df.二月+df.三月))
df.insert(14,'冬季',(df.十月+df.十一月+df.十二月))

In [32]:
df

,類型,一月,二月,三月,春季,四月,五月,六月,七月,八月,九月,十月,十一月,十二月,冬季,合計
0,國家風景區\nNational Scenic Areas,3012501,5245608,3306282,11564391,3916082,3961840,3907738,5608960,4442797,3049588,3582984,3678688,3709044,10970716,47422112
1,國家公園\nNational Parks,1347825,2414867,2226682,5989374,1607091,1537192,1383318,1615617,1379134,756526,1133959,1068473,1054367,3256799,17525051
2,公營遊憩區\nGovernment Sites,9474559,14097420,8943161,32515140,10745275,9383275,9128599,10964596,10861886,8324552,10934646,9229012,9937675,30101333,122024656
3,直轄市級及縣(市)級風景特定區 \nMunicipal-level and County-l...,908716,1342044,943177,3193937,884465,951162,910094,1373931,1371906,711885,859706,795865,994286,2649857,12047237
4,森林遊樂區\nForest Recreation Areas,442965,539213,523447,1505625,563865,504982,480028,657295,539443,323733,433196,507969,574496,1515661,6090632
5,海水浴場\nSwimming Beaches,31031,41583,40171,112785,45336,152975,158906,607550,68910,49288,35291,20830,25163,81284,1277034
6,民營遊憩區\nPrivate Sites,1041998,1807778,1161400,4011176,1587956,1200793,1224026,1948961,1703025,1118039,1350428,1271430,1297375,3919233,16713209
7,寺廟\nTemples,1943995,7437075,4099588,13480658,2491269,2274475,1907483,2054881,1567738,1817851,2031299,2151232,2084629,6267160,31861515
8,古蹟、歷史建物\nHistoric Sites,995434,1338929,881602,3215965,920300,820094,744088,689462,840311,709326,846748,848921,940666,2636335,10575881
9,其他\nOthers,1745984,4339266,1994478,8079728,2261697,2459019,1821984,1600163,1613925,1226737,1311713,1438404,1622348,4372465,23435718
10,重複遊憩區遊客數\nTotal Excluding Duplicate Counting,509681,890593,704919,2105193,714032,716935,672154,1370428,717001,406116,544463,523025,548423,1615911,8317770
11,總計\nTotal,20435327,37713190,23415069,81563586,24309304,22528872,20994110,25750988,23672074,17681409,21975507,20487799,21691626,64154932,280655275

In [33]:
df_first=df[["類型","一月","二月","三月","春季"]]

In [34]:
df_first.sort_values(by="春季",ascending=False).head()

                              類型        一月        二月        三月        春季
11                     總計\nTotal  20435327  37713190  23415069  81563586
2        公營遊憩區\nGovernment Sites   9474559  14097420   8943161  32515140
7                    寺廟\nTemples   1943995   7437075   4099588  13480658
0   國家風景區\nNational Scenic Areas   3012501   5245608   3306282  11564391
9                     其他\nOthers   1745984   4339266   1994478   8079728

In [35]:
df_second=df[["類型","十月","十一月","十二月","冬季"]]

In [36]:
df_second.sort_values(by="冬季",ascending=False).head()

                              類型        十月       十一月       十二月        冬季
11                     總計\nTotal  21975507  20487799  21691626  64154932
2        公營遊憩區\nGovernment Sites  10934646   9229012   9937675  30101333
0   國家風景區\nNational Scenic Areas   3582984   3678688   3709044  10970716
7                    寺廟\nTemples   2031299   2151232   2084629   6267160
9                     其他\nOthers   1311713   1438404   1622348   4372465

In [37]:
df_total=df[["類型","合計"]]

In [38]:
df_total.sort_values(by="合計",ascending=False).head()

                              類型         合計
11                     總計\nTotal  280655275
2        公營遊憩區\nGovernment Sites  122024656
0   國家風景區\nNational Scenic Areas   47422112
7                    寺廟\nTemples   31861515
9                     其他\nOthers   23435718